body {

    background-color: crimson;

}

p {

    color: tomato;
    font-size: 14px;

}

.texto-principal {

    color: steelblue;
    font-size: 24px;

}


#tituloPrincipal {

    color: steelblue

}

.negrito {

    color: red;

}


